.directions-text {
    width: 600px;
    background-color: pink;
}

.crystal-holder{
    width: 600px;
}

img {
    width: 120px;
    height: 100px;
}

.computerChoice {
    background-color: lightgrey;
    width: 200px;
    height: 120px;
    margin: 0px 20px;
}
.wins-losses {
    background-color: lightgrey;
    width: 200px;
    height: 120px auto;
    margin: 30px 20px;
}

#wins-text, #losses-text {
    text-align: center;
    font-size: 30px;
}

.user-score {
    background-color:lightgrey;
    width: 200px;
    height: 120px;
    margin: 30px 20px;
}

#scores {
    text-align: center;
}

#totalScore, #random-number {
    font-size: 30px;
}